.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/pexels-valentin-antonucci-1275393.jpg")}
.u-section-1 .u-sheet-1 {min-height: 864px}
.u-section-1 .u-group-1 {width: 720px; min-height: 481px; box-shadow: 0 0 40px 4px rgba(26,26,26,0.8); background-image: none; margin: 60px auto}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-shape-1 {width: 94px; height: 96px; margin: 11px 11px 0 auto}
.u-section-1 .u-text-1 {font-size: 4.5rem; margin: 64px 21px 0}
.u-section-1 .u-shape-2 {width: 94px; height: 96px; margin: 75px auto 0 0} 

@media (max-width: 1199px){ .u-section-1 {background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 712px}
.u-section-1 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-1 .u-text-1 {position: relative; margin-left: 16px; margin-right: 16px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 545px}
.u-section-1 .u-container-layout-1 {padding-left: 4px; padding-right: 4px}
.u-section-1 .u-shape-1 {margin-top: 25px}
.u-section-1 .u-text-1 {margin-left: 13px; margin-right: 13px}
.u-section-1 .u-shape-2 {margin-top: -12px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 409px}
.u-section-1 .u-group-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-container-layout-1 {padding-left: 3px; padding-right: 3px}
.u-section-1 .u-shape-1 {margin-top: 0}
.u-section-1 .u-text-1 {margin-left: 9px; margin-right: 9px}
.u-section-1 .u-shape-2 {margin-top: -37px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 258px}
.u-section-1 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-1 .u-shape-1 {margin-top: 25px; margin-left: 240px}
.u-section-1 .u-text-1 {font-size: 2.25rem; margin-left: 0; margin-right: 0}
.u-section-1 .u-shape-2 {margin-top: 95px; margin-left: -6px} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-text-1 {margin: 60px auto}.u-section-3 .u-sheet-1 {min-height: 410px}
.u-section-3 .u-text-1 {margin: 20px auto 0}
.u-section-3 .u-image-1 {width: 570px; height: 201px; margin: 20px auto 60px 285px} 

@media (max-width: 991px){ .u-section-3 .u-image-1 {margin-left: 150px} }

@media (max-width: 767px){ .u-section-3 .u-image-1 {width: 540px; height: 190px; margin-left: 0} }

@media (max-width: 575px){ .u-section-3 .u-image-1 {width: 340px; height: 120px} }.u-section-4 .u-sheet-1 {min-height: 535px}
.u-section-4 .u-text-1 {margin: 55px auto 0}
.u-section-4 .u-btn-1 {font-size: 1.5rem; box-shadow: 0 0 40px 0 rgba(128,128,128,1); margin: 20px auto 60px}